.home-subtitle {
    display: inline-block;
    padding: 10px 1px;
    color: var(--color-primary-1);
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: var( --font-primary-1);
}

#Home {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 96px);
    position: relative;
    padding: 28px 8%;
    
}

.home-title {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 2%;
}

.home-text{
    font-family: var(--font-primary-2);
    font-size: 50px;
    color: var(--color-primary-2);
}

.home-description {
    font-family: var( --font-primary-1);
    font-size: 16px;
    font-weight: medium;
    color: var(--color-primary-3);
}

.home-btn{
    margin-top: 40px;
    display: flex;
    gap: 40px;
    
}

.home-btn a{
    text-decoration: none;
}

.btn-default {
    border: none;
    background-color: var(--color-secondary-1);
    color: var(--color-neutral-0);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px 25px;
    font-family: var(--font-primary-1);
    font-weight: 600;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-default:hover {
    background-color: var(--color-secondary-2);
    color: var(--color-neutral-0);
    transform: translateY(-1px); 
    background-color: var(--color-secondary-1);
}

.video-btn{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-primary-1);
    padding: 15px 25px;
    font-family: var( --font-primary-1);
    font-weight: 500;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--color-primary-2);
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    
}

.video-btn i {
    background-color: transparent;
    color: var(--color-neutral-1);
}

.video-btn:hover {
    background-color: var(--color-secondary-3);
    color: var( --color-neutral-0);
    transform: translateY(-1px); 
    box-shadow: 0px 1px 4px var(--color-secondary-3); 
    
}

.banner{
    display: flex;
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: 0.8s ease-in-out;
}

.banner img {
    transition: transform 0.5s ease-in-out; 
}

.banner img:hover {
    transform: translateY(-2px); 
}

@media only screen and (max-width: 1170px) {
    
    #Home {
        min-height: 100%;
        padding-top: 0px;
        align-items: center;
        
    }

    .subtitle {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .home-subtitle {
        font-size: 15px;
        margin-top: 50px;
        
    }

    .home-title {
        width: 100%;
        text-align: center;
        align-items: center; 
    }

    .home-text {
        font-size: 50px;
    }

    .banner,
    .banner img {
        display: none;
    }

}

@media only screen and (max-width: 915px) {

    .home-btn {
        font-size: 15px;
    }

}

@media only screen and (min-width: 375px) and (max-width: 844px) {

    .home-text {
        font-size: 40px;
    }

    .home-btn {
        font-size: 13px;
    }

    .home-description {
        font-size: 14px;
    }
    
}


